html {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 100%;
  min-width: 100%;
  /* overflow-y: scroll; */
}

html {
  background: url("./images/gaben.jpg") repeat;
  animation: scroll-anim 5s linear infinite;
}

@keyframes scroll-anim {
  100% {
    background-position: -500px -500px;
}
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 0;

  width: 100%;
} 

.white {
  background-color: #fff !important;
  filter: drop-shadow(0 0 2px #000)
}

.white2 {
  background-color: #fff !important;
}

.navbar-fixed {
  position: sticky;
  height: 56px;
  z-index: 2;
  width: 100%;
}

.z-depth-0 {
  width: 100%;
}

.nav-wrapper {
  line-height: 56px;
}

.center,
.center-align {
  text-align: center;
  background: #fff;
  padding: 16px;
  filter: drop-shadow(0 0 4px #000);
  border-radius: 8px;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.row .col.s6 {
  width: 50%;
  margin-bottom: 16px;
}

.z-depth-0 {
  height: 56px;
}

.row .col.offset-s2 {
  background: #fff;
  padding: 16px;
  filter: drop-shadow(0 0 2px #000);
  border-radius: 8px;
}

#magicFrame {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border: none;
  background-image: url("https://media.tenor.com/On7kvXhzml4AAAAi/loading-gif");
  background-position: center;
  background-repeat: no-repeat;
}

#root {
  display: flex;
  flex: 1 0 ;

  margin: 0;
  padding: 0;
  width: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  
  flex: 1 0 ;

  margin: 0;
  padding: 0;
  width: 100%;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-left:32px;
  font-weight: bold
}

